@import "../../../../styles/mixins";

.NotesContainerWrapper {
  // height: calc(100% - 50px);
  height: 100%;
  width: 100%;
  @include make-flex($dir: row, $align: flex-start);
  &__left {
    width: 375px;
    height: 100%;
    border-right: 1.5px solid #edebe9;
    z-index: 2;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    @include make-flex($just: flex-start);

    &__container {
      @include make-flex($just: flex-start);
      gap: 16px;
      padding: 16px;
      width: 100%;
      height: 100%;
      overflow-y: auto;

      &::-webkit-scrollbar-track {
        background: #edece900;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
      }
    }
  }
  &__right {
    width: calc(100% - 375px);
    @include make-flex($just: flex-start);
    height: calc(100% - 50px);
    // padding: 16px;
    &--centerContent {
      justify-content: center !important;
    }
    &--AddNew {
      @include make-flex($dir: row);
      gap: 20px;
    }
  }

  &__listItem {
    // min-height: 124px;
    // min-height: 64px;
    height: fit-content;
    width: 100%;
    border-radius: 8px;

    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 16px;

    @include make-flex($just: flex-start);
    // background-color: #fff6cb;
    box-shadow: 0px 0px 7px 1px rgb(0 0 0 / 7%);
    cursor: pointer;
    gap: 4px;
    &:hover {
      box-shadow: 0 6.4px 14.4px rgb(0 0 0 / 13%),
        0 1.2px 3.6px rgb(0 0 0 / 10%);
    }

    img {
      border-radius: 4px;
      max-width: 100%;
      height: auto;
    }

    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    &--time {
      height: 16px;
      margin-top: 4px;
      color: #605e5c;
      width: 100%;
      font-size: 11px;
      line-height: 10px;
      @include make-flex($dir: row, $just: flex-end);
      padding: 0 10px;
      // margin-bottom: 4px;
      span {
        height: inherit;
        width: auto;
      }
      svg {
        border-radius: 4px;
        cursor: pointer;
      }
    }
    &--content {
      & > * {
        color: #323130;
        font-size: 14px;
        line-height: 20px;
        word-break: break-word;
      }
      font-size: 14px;
      width: 100%;
      padding: 0 20px;
      // margin-bottom: 4px;
      height: 100%;
      max-height: 104.34px;
      overflow: hidden;
      min-height: 20px;
    }

    &--AddNote {
      cursor: pointer;
    }
    &--NoItemsFound,
    &--AddNote {
      width: 100%;
      @include make-flex($dir: row);
      gap: 10px;
      height: 50px;
      border: 1px solid #868282;
      border-radius: 8px;
      svg {
        opacity: 0.5;
      }
      p {
        color: #868282;
        height: 100%;
        @include make-flex();
        font-size: 17px;
      }
    }
  }

  &__dropdown {
    width: 100%;
    min-height: 50px;
    @include make-flex($dir: row);
    border: 1px solid rgb(243, 217, 183);
    background-color: white;
    cursor: pointer;
    font-size: 18px;
    line-height: 31px;
    z-index: 1;
    gap: 5px;
    position: relative;
    input {
      position: absolute;
      height: 100%;
      cursor: pointer;

      width: 100%;
      opacity: 0;
      z-index: 1;
    }
    svg {
      transition: transform 0.25s ease-in-out;
      cursor: pointer;

      z-index: 0;
    }
    #dropdownCheckbox:checked ~ svg {
      transform: rotate(-180deg);
    }
  }
}

@media only screen and (max-width: 840px) {
  .NotesContainerWrapper {
    height: calc(100% - 50px);
    position: relative;
    &__left {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      background-color: white;
      &--close {
        opacity: 0;
        visibility: hidden !important;
      }

      &--open {
        visibility: visible !important;
        opacity: 1;
      }

      &__container {
        justify-content: flex-start;
      }
    }
    &__right {
      height: 100%;
      width: 100%;
      justify-content: center;
      padding: 25px 0;
    }
  }
}

@media only screen and (max-width: 915px) {
  .NotesContainerWrapper {
    &__right {
      padding: 0 0;
    }
  }
}

@media only screen and (max-height: 650px) {
  .NotesContainerWrapper {
    &__right {
      padding: 0 0;
    }
  }
}

@media only screen and (max-width: 580px) {
  .NotesContainerWrapper {
    &__right {
      justify-content: flex-start;
    }
  }
}
