@import "../../../../styles/mixins";

.BoardHeaderWrapper {
  height: 28px;
  width: 100%;
  padding: 0 35px;
  position: fixed;
  background-color: #ffffff;
  backdrop-filter: blur(5px);
  border-bottom: 1px solid rgb(133, 133, 133, 0.7);
  transform: translateY(-29px);
  font-size: 16px;

  @include make-flex($dir: row, $just: center);

  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  font-family: "Source Code Pro", monospace;
  color: #545454;
  text-transform: uppercase;
  letter-spacing: 6.5px;
  text-decoration: none;
}
