@import "../../../../../styles/mixins";

.BoardsHomeWrapper {
  height: calc(100% - 50px);
  overflow-x: auto;
  width: 100%;
  padding: 40px 20px;
  &__top {
    width: 100%;
    height: 100px;
  }
  &__bottom {
    width: 100%;
    @include make-flex($dir: row, $align: flex-start);
    gap: 30px;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  &__item {
    height: 285px;
    width: 245px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 0px 29px rgba(0, 0, 0, 0.07);
    cursor: pointer;

    &--pseudo {
      padding: 20px;
      height: 100%;
      width: 100%;
      border-radius: 8px;
      background-color: #00000036;
    }
    &__title {
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      
      text-overflow: ellipsis;
    }
  }
}
