@import "../../../../../styles/mixins";

.BoardEditorWrapper {
  height: calc(100% - 50px);
  width: calc(100% - 4px);
  overflow-x: scroll;

  &::-webkit-scrollbar {
    width: 14px;
    height: 22px;
  }

  &::-webkit-scrollbar-thumb {
    border: 6px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #aaaaaa;
  }
  &::-webkit-scrollbar-track {
    background: #edece900;
  }
  &__contentContainer {
    height: 100%;
    width: fit-content;
    padding: 0px 20px 2px 20px;
    gap: 20px;
    @include make-flex($dir: row, $just: flex-start, $align: flex-start);

    &--addPanel {
      width: 300px;
      height: 100%;
      max-height: 100%;
      background: rgba(255, 255, 255, 0.685);
      backdrop-filter: blur(60px);
      border-radius: 6px;
      @include make-flex($dir: row);
      gap: 10px;
      cursor: pointer;
    }
  }

  &__panel {
    height: 100%;
    max-height: 100%;
    position: relative;
    width: 300px;
    // background: rgba(255, 255, 255, 0.15);
    // backdrop-filter: blur(60px);
    background-color: rgba(0, 0, 0, 0.54);
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.336);

    transform: translate3d(
        var(--translatePanel-x, 0),
        var(--translatePanel-y, 0),
        0
      )
      scaleX(var(--scalePanel-x, 1)) scaleY(var(--scalePanel-y, 1));

    &__right--delete {
      cursor: pointer;
      height: 28px;
      color: white;
      font-size: 18px;
      &:hover {
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid white;
        color: rgb(255, 147, 147);
      }
    }
    &--title {
      width: 100%;
      height: 55px;
      @include make-flex($dir: row, $just: space-between);
      padding: 0 14px;
      & * {
        color: white;
      }
      &--left {
        font-family: "Ubuntu", sans-serif;
        font-size: 19px;
        height: 100%;
        @include make-flex($dir: row);
      }
      &--right {
        height: 100%;
        gap: 10px;
        @include make-flex($dir: row);

        span {
          font-size: 17px;
          height: 28px;
          width: 28px;
          border-radius: 3px;
          @include make-flex();
          &:hover {
            border: 1px solid white;
          }
        }
      }
    }

    &--content {
      width: 100%;
      height: calc(100% - 55px);

      padding: 0px 0px 16px 16px;

      @include make-flex($just: flex-start);
      overflow-y: scroll;
      gap: 14px;

      &--card,
      &--placeholderCard {
        width: 100%;
        min-height: 45px;
        background-color: white;
        border-radius: 6px;
        box-shadow: 0 0 15px 0 rgb(0 0 0 / 3%);
      }

      &--card {
      }

      &--placeholderCard {
        min-height: unset;
        height: 45px;
        @include make-flex($dir: row);
        gap: 10px;
        cursor: pointer;
      }
      &::-webkit-scrollbar {
        height: 8px;
        width: 8px;
        appearance: none;
      }

      &::-webkit-scrollbar-track {
        background: #edece900;
      }

      &::-webkit-scrollbar {
        width: 16px;
      }

      &::-webkit-scrollbar-thumb {
        border: 4px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
        border-radius: 9999px;
        background-color: #e7e7e7;
      }
    }

    &--bottom {
      width: 100%;
      // height: 77px;
      padding: 14px;
    }
  }
}

@media only screen and (max-width: 425px) {
  .BoardEditorWrapper {
    overflow-x: hidden;
    &__panel {
      // width: 90vw;
      width: 100%;
      scroll-snap-align: center;
      flex: none;
    }
    &__contentContainer {
      padding: 0 20px 20px 20px;
      width: 100vw;
      overflow-x: auto;

      &::after {
        content: "EasterEGGGGGGG";
        color: rgba(0, 255, 255, 0);
      }

      &--addPanel {
        width: 100%;
        // width: 90vw;
        flex: none;

        position: relative;

        scroll-snap-align: center;
      }
    }
  }
}

@supports (-webkit-touch-callout: none) {
  .BoardEditorWrapper {
    &__panel {
      &--content {
        padding: 16px;
      }
    }
  }
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .BoardEditorWrapper {
    &__panel {
      background-color: #00000029;
      -webkit-backdrop-filter: blur(60px);
      backdrop-filter: blur(60px);
    }
  }
}
