@import "../../../../styles/mixins";

.PageContentWrapper {
  flex-shrink: 0;
  flex-grow: 1;
  width: 900px;
  max-width: 100%;
  row-gap: 2px;
  @include make-flex($align: flex-start);
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 30vh;
  transition: width 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

  &__block {
    width: 100%;
    white-space: pre-wrap;
    word-break: break-word;
    box-sizing: border-box;
    caret-color: rgb(55, 53, 47);
    padding: 3px 2px;
  }
}

@media only screen and (max-width: 968px) {
  .PageContentWrapper {
    width: 100% ;
    margin-left: 4px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 400px;
  }
}
