@import "../../styles/mixins";

.DashboardWrapper {
  width: 100%;
  height: calc(100% - 28px);
  transform: translateY(28px);

  @include make-flex($dir: row, $just: unset, $align: unset);
  &__subHeader {
    width: 100%;
    padding: 5px 15px;
    height: 50px;
    @include make-flex($just: space-between, $dir: row);

    &--left {
      height: 87%;
      @include make-flex($dir: row);

      transform: translateX(40px);
      transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
      &--open {
        transform: translateX(8px);
        padding: 2px 10px 2px 10px;
      }

      // background: rgba(255, 255, 255, 0.685);
      // -webkit-backdrop-filter: blur(60px);
      // backdrop-filter: blur(60px);
      // border-radius: 4px;
      // padding: 2px 10px 2px 40px;
      // transform: translateX(8px);
    }
    &--right {
      column-gap: 10px;
      @include make-flex($dir: row);
      height: 100%;
      width: auto;
    }
    &__sync {
      height: 30px;
      padding: 0px 6px;
      width: auto;
      background-color: rgb(255, 255, 255);
      border: 1px solid rgb(214, 214, 214);
      border-radius: 4px;

      @include make-flex($dir: row);
      column-gap: 4px;
      .syncIcon {
        animation: SpinAround 1.5s linear infinite;
      }
      svg {
        width: 15px;
        height: 15px;
        display: block;
        fill: rgba(55, 53, 47, 0.8);
        flex-shrink: 0;
        backface-visibility: hidden;
      }

      &--warning {
        background-color: rgb(255, 162, 162) !important;
        @include make-flex($dir: row);
        border-radius: 4px;

        height: 30px;
        padding: 0px 6px;
        width: auto;
        cursor: pointer;
        span {
          font-size: 17px !important;
        }
      }
    }
    &--title {
      margin: unset;
      font-family: "Montserrat", sans-serif;
      text-align: center;
      transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);

      max-width: 230px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      cursor: pointer;
      padding: 5px 10px;
      border-radius: 5px;

      br {
        content: " ";
      }
      br:after {
        content: " ";
      }
      &::before {
        -webkit-text-fill-color: rgb(55, 53, 47) !important;
      }

      &:focus {
        background-color: #f3efe9;
        cursor: text;
        &::before {
          content: "";
        }
      }
      &--open {
        transform: translateX(-47px);
      }
    }
  }

  &__sideBar {
    width: 244px;
    background-color: #f3efe9;
    height: 100%;
    border-right: 4px solid #cc8296;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    // margin-left: -240px;
    position: fixed;
    transform: translateX(-240px);
    z-index: 5;

    &--open {
      // margin-left: 0px !important;
      transform: translateX(0px);
    }
    &--top,
    &--bottom {
      width: 100%;
      @include make-flex();
    }

    &--top {
      &__burgerMenu {
        width: 100%;
        height: 50px;
        @include make-flex($align: flex-end);
        padding: 0 12px;
      }

      &__boards {
        width: 100%;
        max-height: 340px;
        overflow-y: auto;
        @include make-flex($just: flex-start);
        gap: 5px;
      }
    }
    &--bottom {
      gap: 18px;
      margin-bottom: 20px;
    }

    @include make-flex($just: space-between);

    &--hamburger {
      transform: translateX(60px);
      z-index: 5;
      &--open {
        transform: translateX(3px);
      }
      &--mobileOpen {
        transform: translateX(3px);
      }
      height: 28px;
      position: relative;
      width: 28px;
      @include make-flex();
      transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);

      #NavBarInput {
        cursor: pointer;
        position: absolute;
        opacity: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 25px;
        margin: 0;
        width: 25px;
        z-index: 1;
      }
      .hamButton {
        height: 25px;
        top: 0;
        left: 0;
        width: auto;
        @include make-flex();
        label {
          @include make-flex($just: space-around);
          height: 100%;
          margin: unset;
          span {
            display: block;
            width: 25px;
            border-top: 1.3px solid rgb(124, 34, 34);
            transform-origin: 4px 0px;
            transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
            &:first-child {
              transform-origin: 0% 0%;
            }
            &:nth-last-child(2) {
              transform-origin: 0% 100%;
            }
          }
        }
      }

      #NavBarInput:checked ~ .hamButton > label > .span.HL1 {
        opacity: 1;
        transform: rotate(45deg) translate(3px, -4px);
      }
      #NavBarInput:checked ~ .hamButton > label > .span.HL2 {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }
      #NavBarInput:checked ~ .hamButton > label > .span.HL3 {
        transform: rotate(-45deg) translate(4px, 0px);
      }
    }
  }

  &__frame {
    height: 100%;
    width: 100%;
    background-position: center;
    transition: padding 100ms cubic-bezier(0.19, 1, 0.22, 1);
    // background-image: url(../../Assets/Img/paperEffect.png);
    // flex: 1 1 0%;

    &--open {
      // width: calc(100% - 244px);
      padding-left: 244px;
    }
  }

  &__contentContainer {
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    max-height: 100%;
    height: 100%;
    width: 100%;
    @include make-flex($just: flex-start);
    overflow: auto;
    &--title {
      padding: 10px;
      @include make-flex($align: flex-start);

      box-sizing: border-box;
      margin-bottom: 20px;

      margin-top: 80px;
      max-width: 100%;
      width: calc(900px - 192px);

      color: rgb(55, 53, 47);
      font-weight: 700;
      font-size: 40px;
      cursor: text;
      &::before {
        padding: unset;
      }
    }
  }
}

@media only screen and (max-width: 1064px) {
  .DashboardWrapper {
    &__sideBar {
      position: fixed;
    }
    &__subHeader {
      &--left {
        &--open {
          padding: 2px 10px 2px 40px;
        }
      }
    }
    &__frame {
      &--open {
        width: 100%;
        padding-left: unset;
      }
    }
  }
}

@media only screen and (max-width: 968px) {
  .DashboardWrapper {
    &__contentContainer {
      &--title {
        width: 100%;
        padding-left: 24px;
        padding-right: 24px;
        margin-top: 25px;
        margin-bottom: 15px;
      }
    }
  }
}
@media only screen and (max-width: 840px) {
  .DashboardWrapper {
    &__contentContainer {
      overflow: hidden;
    }
  }
}
@media only screen and (max-width: 425px) {
  .DashboardWrapper {
    &__subHeader {
      &--left {
        max-width: unset !important;
        width: calc(100% - 15px);
        justify-content: flex-start;
      }
    }
  }
}

@media only screen and (max-width: 420px) {
  .DashboardWrapper {
    &__subHeader {
      &--title {
        max-width: 205px;
      }
    }
    &__contentContainer {
      &--title {
        font-size: 35px;
      }
    }
  }
}
@media only screen and (max-width: 615px) {
  .DashboardWrapper {
    &__subHeader {
      &__sync {
        &--warning {
          position: absolute;
          right: 10px;
          z-index: 2;
        }
      }
    }
  }
}
@media only screen and (max-width: 515px) {
  .DashboardWrapper {
    &__subHeader {
      &--left {
        max-width: calc(100% - 145px);
      }
    }
  }
}
@keyframes SpinAround {
  to {
    transform: rotate(-360deg);
  }
}
