@import "../../../../styles/mixins";

.EditableBlockWrapper {
  outline: 0px solid transparent;
}

.EditableBlockPlaceHolder {
  &::before {
    content: attr(placeholder);
    white-space: pre-wrap;
    word-break: break-word;
    caret-color: rgb(55, 53, 47);
    padding: 3px 2px;
    min-height: 1em;
    color: rgb(55, 53, 47);
    -webkit-text-fill-color: rgba(55, 53, 47, 0.15);
    cursor: text;
  }
}


