.DragHandle {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  border-radius: 2px;
  height: 28px;
  width: 20px;
  &:hover {
    cursor: grab;
  }

  &:active {
    cursor: grabbing;
  }
}
