@import "../../styles/mixins";

.ModalWrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  @include make-flex($just: flex-start);
  z-index: 20;
  padding: 20px;

  backdrop-filter: blur(3px);
  background-image: url(../../Assets/Img/noise.png);
  background-color: rgba($color: #d4d4d4, $alpha: 0.5);
}
