$padding: 20px;

.LeftPane {
  gap: 15px;
  z-index: 2;
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0 $padding $padding;
  border-right: 2px solid $Accent;
  background-color: $Sidebar__background;
  border-right: 1px solid $Sidebar__border;

  display: grid;
  grid-template-rows: 26px 22px 35px 20px 1fr;

  &--hide {
    display: none;
  }

  &__logo {
    @include box(calc(100% + (2 * $padding)), 26px);
    @include make-flex();
    background-color: $Sidebar__header_logo;
    border-bottom: 1px solid $Sidebar__border;
    font-family: "Source Code Pro", monospace;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 8px;
    color: $white;
    margin-left: -$padding;
    margin-right: -$padding;
  }

  &__MenuList {
    @include box($height: auto);
    @include make-flex($just: flex-start, $dir: column);
    flex-grow: 1;
    &--item {
      list-style: none;
      min-width: 103px;
      @include box(100%, 45px);
      @include make-flex();
    }
  }

  &__right {
    @include box($height: auto);
    @include make-flex($dir: row, $just: flex-end);
    gap: 15px;
  }

  &__leftRight {
    @include box($height: auto);
    @include make-flex($dir: row, $just: space-between);
  }

  &__hamburger,
  &__options {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;

    svg {
      @include box();
      path {
        fill: $Accent;
        stroke: $Accent;
      }
    }
  }

  &__hamburger {
    @include box(30px, 22px);
    background-color: $Sidebar__background;
    border-radius: 4px;
  }

  &__options {
    @include box(22px, 22px);
    border-radius: 50%;
  }

  &__folders {
    $scrollbarOffset: 6.7px;
    $scrollbarWidth: 6px;

    @include box(calc(100% + $padding - $scrollbarOffset), auto);
    @include make-flex($just: flex-start);
    list-style: none;
    gap: 10px;
    overflow-y: auto;

    padding-right: calc($padding - $scrollbarWidth - $scrollbarOffset);
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      @include box($scrollbarWidth, $scrollbarWidth);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
    }
  }
}
