@import "../../../../../styles/mixins";

.StickyNoteWrapper {
  height: 100%;
  width: 755px;
  min-height: 430px;
  border-radius: 8px;
  transition: all 0.1s ease-in-out;
  @include make-flex($just: flex-start);
  box-shadow: 0px 0px 7px 1px rgb(0 0 0 / 7%);

  &--fullscreen {
    z-index: 6;
    transition: all 0.25s ease-in-out;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    height: 100%;
    width: 100%;
  }

  &__header {
    width: 100%;
    height: 58px;
    &--stripe {
      height: 6px;
      width: 100%;
      border-radius: 8px 8px 0 0;
    }
    &--details {
      height: 52px;
      width: 100%;
      padding: 10px 12px;
      padding-left: 20px;
      @include make-flex($dir: row, $just: space-between);
      svg {
        border-radius: 4px;
        cursor: pointer;
        &:hover {
          background-color: rgba(0, 0, 0, 0.07);
        }
        &:active {
          background-color: rgba(0, 0, 0, 0.171);
        }
      }
    }

    &--right {
      @include make-flex($dir: row);
      gap: 10px;
    }

    &--left {
      span {
        font-style: italic;
      }
    }

    &--expand {
      @include make-flex();
      height: 37px;
      width: 37px;
      cursor: pointer;
      font-size: 16px;
      border-radius: 4px;
      &:hover {
        background-color: rgba(0, 0, 0, 0.07);
      }
      &:active {
        background-color: rgba(0, 0, 0, 0.171);
      }

      &--active {
        background-color: rgba(0, 0, 0, 0.07);
      }
    }
  }
  &__content {
    width: 100%;
    display: flex;
    height: calc(100% - 147px);
    flex: 1 1 auto;

    &--editableContainer {
      overflow-y: auto;
      height: 100%;
      width: 100%;
      padding: 0 48px;
      flex: 1 1 auto;

      li {
        margin-left: 20px;
      }

      &::-webkit-scrollbar-track {
        background: #edece900;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
      }
    }

    &--editableContent {
      width: 100%;
      min-height: 100%;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.2px;
      outline: 0px solid transparent;

      user-select: text;
      white-space: pre-wrap;
      font-family: "Noto Sans", sans-serif;
      overflow-wrap: break-word;
      color: #686663;
      overflow: hidden;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    &--imagePreview {
      @include make-flex();
      height: 321px;
      gap: 10px;

      img {
        border-radius: 4px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &__toolbar {
    padding: 12px 12px;
    width: 100%;
    @include make-flex($dir: row, $just: space-between);
    flex-wrap: nowrap;
    &--left {
      width: 200px;
      @include make-flex($dir: row, $just: space-around);
      &--item {
        cursor: pointer;
        z-index: 1;
        @include make-flex();
        border: none;
        background-color: #ffffff00;
        height: 35px;
        width: 35px;
        border-radius: 3px;
        img {
          height: 28px;
          filter: invert(100%);
        }
        &:hover {
          background-color: rgba(0, 0, 0, 0.027);
        }
        &--active {
          background-color: rgba(0, 0, 0, 0.07);
        }
      }
    }

    &--right {
      span {
        display: inline-block;
        text-overflow: clip;
        white-space: nowrap;
      }
      font-size: 15px;
      padding: 0 12px;
      color: #605e5c;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .StickyNoteWrapper {
    width: 90%;
  }
}

@media only screen and (max-width: 915px) {
  .StickyNoteWrapper {
    width: 94%;
  }
}

@media only screen and (max-width: 840px) {
  .StickyNoteWrapper {
    width: 100%;
    max-height: 100%;
  }
}

@media only screen and (max-height: 650px) {
  .StickyNoteWrapper {
    width: 95%;
  }
}

@media only screen and (max-width: 675px) {
  .StickyNoteWrapper {
    &__content {
      &--editableContainer {
        padding: 0 30px;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .StickyNoteWrapper {
    &__content {
      &--editableContainer {
        padding: 0 20px;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .StickyNoteWrapper {
    &__toolbar {
      flex-direction: column;
      justify-content: flex-start;
      gap: 10px;

      &--left {
        width: 100%;
        justify-content: space-around;
      }
    }
  }
}

@media only screen and (max-width: 580px) {
  .StickyNoteWrapper {
    width: 100%;
    border-radius: 0;
    &__header {
      &--stripe {
        border-radius: 0;
      }
    }
  }
}
