@import "../../../../../../styles/mixins";

.StickyNoteWrapper {
  height: 90%;
  width: 755px;
  min-height: 430px;
  // max-width: 750px;
  border-radius: 8px;
  transition: all 0.1s ease-in-out;
  @include make-flex($just: flex-start);
  box-shadow: 0px 0px 7px 1px rgb(0 0 0 / 7%);

  &__header {
    width: 100%;
    height: 58px;
    &--stripe {
      //   background-color: #ffee92;
      height: 6px;
      width: 100%;
      border-radius: 8px 8px 0 0;
    }
    &--details {
      height: 52px;
      width: 100%;
      padding: 10px 12px;
      @include make-flex($dir: row, $just: flex-end);
      svg {
        border-radius: 4px;
        cursor: pointer;
        &:hover {
          background-color: rgba(0, 0, 0, 0.07);
        }
        &:active {
          background-color: rgba(0, 0, 0, 0.171);
        }
      }
    }
  }
  &__content {
    width: 100%;
    display: flex;
    height: 100%;
    max-height: 100%;
    flex-grow: 1;

    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;

    &--editableContent {
      width: 100%;
      min-height: 100%;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.2px;
      outline: 0px solid transparent;

      user-select: text;
      white-space: pre-wrap;
      font-family: "Noto Sans", sans-serif;
      overflow-wrap: break-word;
      color: #686663;
    }

    &--editableContainer {
      height: 100%;
      max-height: 100%;
      padding: 0 48px;
      overflow-y: auto;
      li {
        margin-left: 20px;
      }

      &::-webkit-scrollbar-track {
        background: #edece900;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
      }
    }
  }
  &__toolbar {
    padding: 12px 12px;
    width: 100%;
    @include make-flex($dir: row, $just: space-between);
    flex-wrap: nowrap;
    &--left {
      width: 275px;
      @include make-flex($dir: row, $just: space-around);
      &--item {
        cursor: pointer;
        z-index: 1;
        @include make-flex();
        border: none;
        background-color: #ffffff00;
        height: 35px;
        width: 35px;
        border-radius: 3px;
        img {
          height: 28px;
          filter: invert(100%);
        }
        &:hover {
          background-color: rgba(0, 0, 0, 0.027);
        }
        &--active {
          background-color: rgba(0, 0, 0, 0.07);
        }
      }
    }

    &--right {
      span {
        display: inline-block;
        text-overflow: clip;
        white-space: nowrap;
      }
      font-size: 15px;
      padding: 0 12px;
      color: #605e5c;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .StickyNoteWrapper {
    width: 90%;
  }
}

@media only screen and (max-width: 915px) {
  .StickyNoteWrapper {
    width: 94%;
  }
}

@media only screen and (max-width: 840px) {
  .StickyNoteWrapper {
    width: 100%;
    height: 100%;

    &__content {
    }
  }
}

@media only screen and (max-height: 650px) {
  .StickyNoteWrapper {
    height: 100%;
  }
}

@media only screen and (max-width: 675px) {
  .StickyNoteWrapper {
    &__content {
      &--editableContainer {
        padding: 0 30px;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .StickyNoteWrapper {
    &__content {
      &--editableContainer {
        padding: 0 20px;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .StickyNoteWrapper {
    &__toolbar {
      flex-direction: column;
      justify-content: flex-start;
      gap: 10px;
    }
  }
}

@media only screen and (max-width: 580px) {
  .StickyNoteWrapper {
    width: 100%;
    border-radius: 0;
    &__header {
      &--stripe {
        border-radius: 0;
      }
    }
  }
}
