@import "@radix-ui/colors/grass.css";

.DropMenu {
  &__Icon {
    @include box(32px, 32px);
  }

  &__Content,
  &__SubContent {
    min-width: 170px;
    background-color: $DropDownMenu__background;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: inset 0 0 0 1px #ffffff33, 0 8px 40px #0000008c;
    backdrop-filter: saturate(60px) blur(220%);
    z-index: 2;
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;

    &[data-side="top"] {
      animation-name: slideDownAndFade;
    }

    &[data-side="right"] {
      animation-name: slideLeftAndFade;
    }

    &[data-side="bottom"] {
      animation-name: slideUpAndFade;
    }

    &[data-side="left"] {
      animation-name: slideRightAndFade;
    }
  }

  &__Item,
  &__CheckboxItem,
  &__RadioItem,
  &__SubTrigger {
    font-size: 13px;
    line-height: 1;
    color: $TextColor;
    @include make-flex($align: flex-start);
    @include box($height: 32px);
    padding: 10px;
    position: relative;
    user-select: none;
    outline: none;
    cursor: pointer;

    &:first-child {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &:hover {
      background-color: #0000000d;
      color: white;
    }

    &:not(:last-child) {
      border-bottom: 0.5px solid $DropDownMenu__border;
    }
  }

  &__Item[data-disabled],
  &__CheckboxItem[data-disabled],
  &__RadioItem[data-disabled],
  &__SubTrigger[data-disabled] {
    color: #c8c7cb;
    pointer-events: none;
  }

  &__SubTrigger[data-state="open"] {
    background-color: #0000000d;
    color: #fbfefc;
  }

  &__Item[data-highlighted],
  &__CheckboxItem[data-highlighted],
  &__RadioItem[data-highlighted],
  &__SubTrigger[data-highlighted] {
    background-color: #0000000d;
    color: #fbfefc;
  }

  &__Separator {
    height: 1px;
    background-color: var(--gray6);
    margin: 5px;
  }
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
