.FolderWrapper {
  @include box(100%, auto);

  .Folder {
    @include box(100%, 38px);
    border-radius: 4px;
    background-color: #39393b;
    border: none;
    cursor: pointer;
    outline: none;
    @include make-flex($dir: row, $just: space-between);
    padding: 10px;

    &__left {
      @include box();
      @include make-flex($dir: row, $just: flex-start);
      gap: 15px;
      color: $TextColor;
    }
  }
}
