.FolderWrapper {
  @include box(100%, auto);

  &[open] {
    .Folder {
      background-color: $SelectionColor;
      &__icon {
        transform: rotateZ(90deg);
      }

      &__action {
        transition: all 0.4s ease-in-out;
        &::before {
          color: $TextColor;
        }
      }
    }
  }

  .Folder {
    @include box(100%, 35px);
    border-radius: 6px;
    background-color: #ebebf51a;
    border: none;
    cursor: pointer;
    outline: none;
    @include make-flex($dir: row, $just: space-between);
    padding: 7px 10px;
    transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
    user-select: none;

    &__icon {
      transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
      @include box(auto, 15px);
      @include make-flex();
    }

    &__left {
      @include box();
      @include make-flex($dir: row, $just: flex-start);
      gap: 8px;
      color: $TextColor;
    }

    &__pages {
      @include box(100%, auto);
      background-color: $DropDownMenu__background;
      border: 1px solid #737373;
      border-radius: 5px;
      margin-top: 10px;

      list-style: none;
    }

    &--input {
      @include box();
      padding: 8px 5px;
      border: 1.5px solid #d5dae1;
      background-color: #ffffff1a;
      border-radius: 3px;
      color: $TextColor;
      border: 1px solid #545454;
      font-size: 15.5px;
      margin: auto;
      outline: none;
    }
  }

  .Page {
    list-style: none;
    @include box(100%, 30px);
    position: relative;

    &:first-child > span > button {
      border-radius: 5px 5px 0 0;
    }

    &:last-child > span > button {
      border-radius: 0 0 5px 5px;
    }

    &:only-child > span > button {
      border-radius: 5px;
    }

    &--active > span > button {
      background-color: #d45d5d56;
      color: $Accent;

      &:hover {
        background-color: darken(#d45d5d56, 10%);
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid #737373;
    }

    &--button {
      outline: none;
      border: none;
      @include box();
      @include make-flex($dir: row, $just: space-between);
      padding: 2px 6px;
      background-color: $Sidebar__background;
      cursor: pointer;
      appearance: none;
      color: $TextColor;

      max-width: 100%;
      overflow: hidden;
      text-align: start;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        background-color: #ffffff0d;
      }
    }

    &--input {
      @include box(calc(100% - 7px), calc(100% - 7px));
      padding: 8px 5px;
      border: 1.5px solid #d5dae1;
      background-color: #ffffff1a;
      border-radius: 3px;
      color: $TextColor;
      border: 1px solid #545454;
      font-size: 15.5px;
      margin: auto;
      outline: none;
    }

    &--empty {
      @include box(100%, 100%);
      @include make-flex($dir: row, $just: center, $align: center);
      color: $TextColor;
      font-size: 15px;
      font-weight: 500;
      text-align: center;
      padding: 10px;
    }
  }
}
