// Dark
$white: #ffffff;
$Accent: #fa586a;
$TextColor: #fbfefc;

$Sidebar__border: #3b3b3c;
$Sidebar__background: #252526;
$Sidebar__header_logo: #2c2c2c;

$DropDownMenu__background: #1e1e1e;
$DropDownMenu__border: #ffffff4d;

$Main__background: #1f1f1f;
